<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%=data.title%></title>
</head>
<body>
    <h1><%=data.title%></h1>
    <p>来源:<%=data.source%> 作者:<%=data.author%>  发布时间:<%=data.ctime.toLocaleString()%> 点击量:<%=data.hits%></p>
    <p>
        内容:<%=data.content%>
    </p>
    <p><a href="./index.html">返回</a></p>
</body>
</html>